<div class="row">
  <div class="col mr-5">
    <app-carousel #carousel>
      <div appCarouselItem *ngFor="let photo of photos;">
        <div class="img-item mr-2">
          <img class="cover" src="{{photo.urls.thumb}}" alt="">
        </div>
      </div>
    </app-carousel>
  </div>

  <div class="col align-self-center">

    <app-add-slider (addSlider)="addSlider($event)"></app-add-slider>

    <app-carousel-controls (nexItem)="carousel.onClickNext()" (prevItem)="carousel.onClickPrev()">
    </app-carousel-controls>

  </div>
</div>